/* Reset */
* {
  margin: 0;
  padding: 0;
  font-family: "Hind", sans-serif;
  color: #39557e;
}

.navlogo {
  height: 70px;
}

.nav-item {
  font-family: "Lexend Deca", sans-serif;
  font-size: 18px;
font-weight: 500;
 
}

/* navbar */
.navbar .nav-link.nav-purple {
  color: #9116a1;
}

.navbar .nav-link.nav-darkblue {
  color: #082a5e;
}

/* Hover effect */
.navbar .nav-link:hover {
  color: #9116a1;
}
.navbtnli{
    margin-top: 10px;
    list-style: none;
   
}
.navbtn{
    font-family: "Lexend Deca", sans-serif;
    padding: 12px 18px 12px 18px;
    margin-left: 10px;
    border-radius: 10px;
    color: white;
    background-color: rgb(9, 9, 219);
    border: none;
    
}


/* sectiion 1 */
.section1class{
  background: url(./assets/banner_bg.jpg) no-repeat center;
  background-size: cover;
}

.leaders {
  display: flex;
  align-items: center;
  gap: 10px;
}

.h6leaders {
  margin: 0;
  padding: 8px 15px;
  background-color: #e7effc;
  color: #39557e;
  border-radius: 5px;
  line-height: 1;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
}

.imagessection1right {
  height: 60px;
  width: auto;
}

.left{
  margin-left: 13%;
}

.left h1{
  font-size: 55px;
  font-weight: 620;
  font-family: "Lexend Deca", sans-serif;
  color: #082a5e;
}
.h1spanNo1{
  color: #9116a1;
}

.left p{
  font-weight: 400;
}

.btn{
  background-color: #9900cc;
  color: white;
  padding: 12px 30px;
  border-radius: 10px;
  font-weight: 600;
}


.haveQ p{
  margin: 0;
  padding: 0;
}
#hques{
  font-weight: 550;

}
 
 #numCont{
  font-weight: 900;
  font-size: 20px;
  color: #081a5e;
  margin-left: 0;
  padding-left: 0;
 }
 #numCont:hover{
  color: #053885;
 }


.btnimagephone{
  height: 53px;
  width: 230px;
  border: none;
  background-color: transparent;
}




/* section 3 */
 .unique{
    background-color: rgb(214, 214, 244);
    color: rgb(9, 9, 105);
    width: 23%;
    font-weight: 600;
    border-radius: 5px;
    padding-left: 10px;
    
 }
 

.courses{
    list-style: none;
    margin-right: 40px;
    
    display: flex;
   
}
.courses li{
    margin-left: 20px;
    font-weight: 600;
}

#listss{
    color: blue;
}
#listss span{
    position: relative;
    top: -62px;
    left: 40px;
    color: #fdfdfd;
    background-color: blue;
}

.textssafd{
    color: rgb(4, 4, 102);
}
.textss{
    color: rgb(116, 38, 116);
}






















.badge-overlay {
  position: absolute;
  top: 203px;
 
  z-index: 1;
}

.bg-pink {
  background-color: #da6f95;
  color: rgb(249, 243, 243);
  padding: 5px 10px;
   border-top-right-radius: 10px;
 
  font-size: 0.8rem;
}
.card{
    height: 484px;
}

.card img{
    height: 229px;
}
.headingT{
    text-decoration: none;
    color: black;
}
.columns{
    height: 484px;
}
.para{
    margin-top: 39px;
}

